<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 600px;
            margin-top: 40px;
        }
        .link-row {
            margin-bottom: 20px;
        }
        .link-row a {
            display: block;
            padding: 10px;
            text-align: center;
        }
        .button-row {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="row link-row">
        <div class="col">
            <a th:href="@{/items}">기본적인 쇼핑몰</a>
        </div>
        <div class="col">
            <a th:href="@{/posts}">기본적인 게시판</a>
        </div>
    </div>

    <h4 class="mb-3" th:text="|안녕하세요. ${member.name}님|">로그인 사용자 이름</h4>

    <hr class="my-4">

    <div class="row button-row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/mypage}'|">
                회원정보
            </button>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>

    <hr class="my-4">

</div> <!-- /container -->

</body>
</html>