<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">

    <div class="row">
        <div class="col" style="padding: 10px;">
            <img th:src="@{/img/baeksMarket.png}"
                 alt="홈 화면 이미지"
                 style="max-width: 100%;
                 height: auto; margin: 10px;"
                 th:onclick="|location.href='@{/items}'|"
            />
        </div>
        <div class="col" style="padding: 10px;">
            <img th:src="@{/img/baeksProject.png}" alt="홈 화면 이미지" style="max-width: 100%; height: auto; margin: 10px;"/>
        </div>
    </div>

    <h4 class="mb-3" th:text="|안녕하세요. ${member.name}님|">로그인 사용자 이름</h4>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/items}'|">
                회원정보
            </button>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>

    <hr class="my-4">

</div> <!-- /container -->

</body>
</html>